.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}

.movieList > li {
  max-width: 250px;
}

.posterImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.posterImage:hover {
  transform: scale(1.01);
}
